</head>
<body>
    <link href="style.css" rel="stylesheet">

    <h1>Atividade</h1>
    <p>--------------------------------------</p>
    <button><a href="cadastrar_post.html" style="text-decoration: none;">Criar post</a></button> 
    <p>--------------------------------------</p>

    <script src="script.js"></script>
</body>
</html>